{{>header}}
<body>
 
    {{>navbar}}
    <div class="container">
        <div class="text">User Login</div>
        {{#if msg}}
            <h4 class={{msgtype}}>{{msg}}</h4>
        {{/if}}
        <form action="/auth/login" method="post">
            <div class="data">
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="data">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="forget-pwd">
            <a href="#">Forget Password</a>
            </div>
            <div class="btn">
            <button type="submit">Login</button>
            </div>
            <div class="signup-now">Not a member ?
            <a href="/register">Signup now</a>
            </div>
        </form>
    </div>
    
</body>
</html>