{{>header}}
<body>
    
    {{>navbar}}
    <div class="container-fluid">
        <h3>User Profile</h3>
        <img src="/images/Profile.png" alt="profile">
        <h3>User name : {{user.name}}</h3>
        <h3>Email : {{user.email}}</h3>
    </div>
</body>
</html>



